<nav class="navbar bg-dark fixed-top"  [ngStyle]="{ 'top' : isNavOpen ? '0' : '-74px' }"> <!-- [ngClass]="{'hidden': isNavbarHidden}" -->
  <div class="container-fluid justify-content-between px-4 game-played">
    <a class="navbar-brand active text-white" [routerLink]="['/']" (click)="inputSidenav.close()">Home</a>
    <div class="d-flex flex-row justify-content-center align-items-center">

      <div *ngIf="!loggedToken" class="nav-item content__item mx-3 my-lg-0 h-min-content">
        <button (click)="inputSidenav.close()" class="button button--anthe" id="selenium__login" [routerLink]="['/login']"
          data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
          <span class="d-flex flex-row">
            Login <fa-icon class="login__icon ms-2" [icon]="faRightToBracket"></fa-icon>
          </span>
        </button>
      </div>

      <div *ngIf="loggedToken" class="nav-item content__item mx-3 my-lg-0 h-min-content">
        <button (click)="[inputSidenav.close(), logout()]" class="button button--anthe" id="selenium__login" [routerLink]="['/']"
          data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
          <span class="d-flex flex-row">
            Logout <fa-icon class="login__icon ms-2" [icon]="faRightFromBracket"></fa-icon>
          </span>
        </button>
      </div>

      <label for="check">
        <input [checked]="inputSidenavState" type="checkbox" id="check" (click)="inputSidenav.toggle()" />
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
  </div>
</nav>
