<aside class="container d-flex flex-column justify-content-between align-items-center text-center py-3 game-played">
  <section class="d-flex flex-column align-items-center justify-content-center">
    <a class="title-1" [routerLink]="['/']" (click)="inputSidenavClose.close()">Home</a>
  </section>

  <section id="main-navigation" class="nav-main">
    <ul class="own menu">
      <li class="menu__item">
        <a class="menu__link title-2" [routerLink]="['/flowers']" (click)="inputSidenavClose.close()">Flowers</a>
      </li>
      <li class="menu__item">
        <a *ngIf="loggedToken" class="menu__link title-2" [routerLink]="['/queries']" (click)="inputSidenavClose.close()">Queries</a>
      </li>
      <li class="menu__item">
        <a *ngIf="!loggedToken" class="menu__link title-2" [routerLink]="['sign-up']" (click)="inputSidenavClose.close()">Sign up</a>
      </li>
    </ul>
  </section>

  <section></section>

  <section class="col-6">
    <ul class="own d-flex flex-row align-items-between justify-content-between">
      <li>
        <a href="" class="icon-link">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
      </li>
      <li>
        <a href="" class="icon-link">
          <fa-icon [icon]="faDiscord"></fa-icon>
        </a>
      </li>
      <li>
        <a href="" class="icon-link">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
      </li>
    </ul>
  </section>

</aside>
