<div class="background"></div>
<main class="d-flex flex-column justify-content-center align-items-center min-vh-100 game-played text-white">
  <section class="headers text-center">
    <h1>Welcome to my App!</h1>
    <h3>Nature is beautiful</h3>
  </section>
  <!-- <button [routerLink]="['/question']" class="mt-5">
    <span class="play-button-text">P L A Y</span>
    <div id="clip">
        <div id="leftTop" class="corner"></div>
        <div id="rightBottom" class="corner"></div>
        <div id="rightTop" class="corner"></div>
        <div id="leftBottom" class="corner"></div>
    </div>
    <span id="rightArrow" class="arrow"></span>
    <span id="leftArrow" class="arrow"></span>
  </button> -->
</main>
